* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU */

.men-u {
    background-color: brown;
    padding: 22px;
}

.men-u > ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.link-menu {
    color: white;
    padding: 16px;
    text-decoration: none;
    font-weight: 900;
    transition: all .4s;
}

.link-menu:hover {
    color: rgb(255, 200, 0);
    background-color: rgb(42, 0, 0);
    border-radius: 8px;
}

/* TITULO PUNTO DEL TALLER */

.punto-taller {
    font-style: italic;
    font-size: 3rem;
    font-weight: 900;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    background-color: rgb(87, 21, 21);
}

/* TABLA */

.t-tabla {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

table {
    font-family: Raleway,sans-serif;
    font-size: 1.2em;
    text-align: justify;
    line-height: 2.2em;
}

table.default th {
    padding: .2em .8em;
    border: 1px solid rgba(20,50,90,.25);
    background: rgba(0,102,255,.25);
    text-align: center
}

table.default td {
    padding: .2em .8em;
    border: 1px solid rgba(16,76,167,.25);
    background: rgba(90,156,255,.25);
    text-align: left
}

div {
    margin: 40px;
}

#tabla-2 {
    margin: 40px;
}

table.default1 th {
    padding: .2em .8em;
    border: 1px solid rgba(20,50,90,.25);
    background: rgba(0,102,255,.25);
    text-align: center
}

table.default1 td {
    padding: .2em .8em;
    border: 1px solid rgba(16,76,167,.25);
    background: rgba(90,156,255,.25);
    text-align: left
}






















